<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {{ first_name }}: Your opinion, for a Restaurant-Delivery Advocacy survey
    </title>
  </head>
  <body>
    <p>Hi {{ first_name }}</p>
    <br />
    <p>
      I am a researcher at Princeton University and I got your contact info from
      RDMA. I am doing a study of restaurant delivery services and I would love
      to get your input. Could you answer this survey about your
      restaurant-delivery services? It should take less than 30 minutes.
    </p>

    <a href="https://www.google.com/forms/about/"
      >https://princetonsurvey.az1.qualtrics.com/jfe/form/SV_4sadFdsah3XZcjda?Source=NR
    </a>

    <p>
      As a token of appreciation, we will be doing a raffle of a $100 gift
      certificate among the people who complete the survey.
    </p>

    <p>
      For context, we plan to write a report that raises awareness of restaurant
      delivery services like yours. We are happy to share it afterwards!
    </p>

    <p>
      Thanks,<br />
      Domenica Sviola<br />
      Princeton University | Computer Science<br />
      (609) 555-1685
    </p>
  </body>
</html>
