<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ first_name }}: Your opinion needed for [... hook goal]</title>
    <style>
      .tooltip {
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    <p>Hello {{ first_name }},</p>

    <p>
      I am a <span class="tooltip">[... your role ...]</span> at
      <span class="tooltip">[... your affiliation ...]</span> and I got your
      contact info from
      <span class="tooltip">[... source of contact information]</span>. I am
      doing a study of <span class="tooltip">[... study goal ...]</span> and I
      would love to get your input. Could you answer this survey on
      <span class="tooltip">[... simpler explanation]</span>? It should take
      <span class="tooltip">[... estimated time to complete survey ...]</span>.
    </p>

    <a href="https://forms.google.com">https://forms.google.com/survey-link</a>

    <p>
      As a token of appreciation, <span class="tooltip">[... incentive]</span>.
    </p>

    <p>
      For context, we plan to write a report
      <span class="tooltip">[... high-level goal of final report]</span>. We are
      happy to share it afterwards!
    </p>

    <p>
      Thanks,<br />
      <span class="tooltip">[... your name ...]</span><br />
      <span class="tooltip">[... your affiliation ...]</span><br />
      <span class="tooltip">[... your phone number ...]</span>
    </p>
  </body>
</html>
